<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">

	<resultMap id="replyResult" type="com.board.beans.ReplyBean" >
		<id property="replyIdx" column="reply_idx"/>
		<result property="replyBoardIdx" column="reply_board_idx"/>
		<result property="replyContentIdx" column="reply_content_idx"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyWriter" column="reply_writer"/>
		<result property="replyYmd" column="reply_ymd"/>
		<result property="replyPass" column="reply_pass"/>
	</resultMap>
	
	<sql id="Cols">
		reply_board_idx,
		reply_content_idx,
		reply_content,
		reply_writer,
		reply_pass
	</sql>
	
	<sql id="listCols">
		reply_idx,
		reply_ymd,
		<include refid="Cols"/>
	</sql>
	
	<select id="selectReply" resultMap="replyResult" parameterType="com.board.beans.ReplyBean">
		SELECT
			<include refid="listCols"/>
		FROM
			board_reply
		WHERE
			reply_board_idx = #{replyBoardIdx}
		AND
			reply_content_idx = #{replyContentIdx}
	</select>
	
	<insert id="writeReply" parameterType="com.board.beans.ReplyBean">
		INSERT INTO
			board_reply(<include refid="Cols"/>)
		VALUES
			(#{replyBoardIdx}, #{replyContentIdx}, #{replyContent}, #{replyWriter}, #{replyPass})
	</insert>
	
</mapper>